.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main-dark{
    background-color: #131314;
    color: #CAC3C8;
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.nav .heading{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nav .heading-dark{
    color:#CAC3C8;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nav .heading span{
    font-size: 12px;
}

.nav .heading-dark span{
    font-size: 12px;
}



.nav{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px; 
   color: #585858;
}

.nav-dark{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color:white, 
 }


.nav .nav-right{
    
    display: flex;
    gap: 18px;
}

.nav-right .theme{
    width: 50px;
    border: 1px solid;
    border-color:  #131314;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 4px 10px;
    
}

.main-dark .nav-right .theme{
    width: 50px;
    border: 1px solid;
    border-color:  lightgrey;
    background-color: #131314;
    border-radius: 9px;
    padding: 4px 10px;
    
}

 .nav .nav-right img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.theme img{
    margin: 2px 0px 0px 4px;
    width: 23px !important;
}

.sub-menu-wrap{
    position:absolute;
    top: 70%;
    right:0%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap-open-menu{
    position:absolute;
    top: 70%;
    right:0%;
    width: 280px;
    max-height: 400px;
}

 .nav .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

 .nav .sub-menu-dark{
    background: #131314;
    padding: 20px;
    margin: 10px;
}

.sub-menu .user-info{
    display: flex;
    align-items: center;
}
.sub-menu-dark .user-info{
    display: flex;
    align-items: center;
}
.sub-menu-dark .user-info h4{
    font-weight: 500;
    color: #CAC3C8;
}

.sub-menu .user-info h4{
    font-weight: 500;
}

.user-info img{
    width:35px !important;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0 10px;
}

.sub-menu-dark hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0 10px;
}

.sub-menu .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-dark .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CAC3C8;
    margin: 12px 0;
}

.sub-menu .sub-menu-link p{
    font-size: 15px !important;
    width: 100%;
}

.sub-menu-dark .sub-menu-link p{
    font-size: 15px !important;
    width: 100%;
}

.sub-menu-link img{
    width: 34px !important;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translate(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


.main-container{
    max-width: 900px;
    margin: auto;
}

.main-container-dark{
    color: #CAC3C8;
    background-color: #131314;
    max-width: 900px;
    margin: auto;
}

 .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

 .greet-dark{
    margin: 50px 0px;
    font-size: 56px;
    color: #444746;
    font-weight: 500;
    padding: 20px;
}

 .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .greet-dark span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

 .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

 .card-dark{
    height: 200px;
    padding: 15px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

 .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

 .card-dark img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: #131314;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

 .card p{
    color: #585858;
    font-size: 17px;
}

 .card-dark p{
    color: white;
    font-size: 17px;
}

 .card:hover{
    background-color: #dfe4ed;
}

 .card-dark:hover{
    background-color: rgb(75, 75, 75);
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.main-bottom-dark{
    color:#CAC3C8;
    background-color: #131314;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.main-bottom-dark .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(45, 45, 45);
    padding: 10px 20px;
    border-radius: 50px;
}


.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
 
.main-bottom-dark .search-box input::placeholder{
    color: white;
}


/* .main-bottom-dark .search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    background-color: #444746;
    color: white;
} */

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-info{
    font-size: 13px; 
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.nav p{
    font-size: 30px;
}

.nav span{
    font-size: medium;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width:600px){
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom-dark input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .main-bottom-dark img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}